.img-list{
    overflow: hidden;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}
.img-list > div > img{
    width: 100%;
    height: 100%;
}

.img-list::-webkit-scrollbar{
    height: 20px;
    width: 10px;
    transition: 0.5s;
}

.img-list::-webkit-scrollbar-thumb{
    background: #283a46;
    border-radius: 500px;
}

.img-list::-webkit-scrollbar-track{
    
}
.img-list:hover{
    overflow: auto;
}

#slmf{
    font-size: 15px;
    text-align: left;
    margin-bottom:  0;
    color: white;
}

#slmf:hover{
    cursor: pointer;
}

.formwrap {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 0;
    right: 0;
    bottom: 50%;
}

.formwrap > div> input[type=submit]{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.formwrap > input, .formwrap > input
{
    width: 100%;
}

input#choosefile {
    cursor: pointer;
    margin: auto;
    left: 0;
    top: 0;
    width: 100%;
    position:  absolute;
    bottom: 0;
    right:  0;
    opacity: 0;
}

.input-file-wrap{
    cursor: pointer;
    border: 3px dotted rgba(202, 202, 202, 0.97);
    width: 100%;
    font-size: 15px;
    text-align: left;
    padding: 15px 20px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    color: white;
}